@model Entities.Manufacturer

@{
    ViewBag.Title = "Edit Manufacturer";
}


<div class="shopBar">
    <ul class="shopNavigation" id="shopNavigationLeft">
        <li>@Html.ActionLink("Back to List", "Index")</li>
    </ul>
</div>

<div class="shopBarMobile">
    <div id="shopNavigationLeft">
        <ul>
            <li>
                <a href="@Url.Action("Index", "Manufacturer")">
                    <img src="~/Images/iconBack.png">
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="webForm">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <hr/>
        <table class="shopForm">

            <h1 class="FormTitle">Edit Manufacturer</h1>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <tr>
                <td>
                    @Html.LabelFor(model => model.Name, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "formInput" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Website, "Website", htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "formInput" } })
                    @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="Save Changes" class="shopButton" style="width: 100%" />
                </td>
            </tr>
        </table>
    }
</div>

<div class="mobileForm">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <table class="shopForm">

            <h2 class="FormTitle">Edit Manufacturer</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <tr>
                <td>
                    @Html.LabelFor(model => model.Name, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "formInput" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "formInput" } })
                    @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Save Changes" class="formInput" />
                </td>
            </tr>
        </table>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
